header.header
  h1 CA Nest
  nav.navbar
    ul.nav-list
      li
        a(href="/") For Rent
      li
        a(href="/") For Sale
      li
        a(href="/") Favourites
      li
        a(href="/") |   My Account
